h1{
    color: rgb(1, 1, 6);
    text-decoration: solid;
    font-size: 40px;
    font-family: Arial, sans-serif;
    text-align: center;
    animation: forwards;  
}
h2{
    color: rgb(48, 6, 6);
    font-size: 30px;
    font-family: 'Times New Roman', serif;
    text-align: left;
    text-align: center;
}
h3{
    color: rgb(242, 16, 16);
    font-size: 20px;
    font-family: 'Courier New', monospace;
    text-align: right;
    text-align: center;
}
p{
    color: black;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    text-align:center;
    border: 2px solid yellow;
    padding: 10px;
    margin: 10px;

}



button{
    background-color:black;
    color: white;
    padding: 10px 20px;
    border:burlywood;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(13, 5, 5);
    color: rgb(0, 17, 255);
    border: 2px solid rgb(255, 0, 251);    
}
.box{
    width: 100px;
    height: 100px;
    background-color: rgb(143, 124, 124);
    margin: 20px;
    animation: moveBox 2s infinite alternate;
}
img{
    width: 300px;
    height: auto;
    display: block;
    margin: 20px auto;
    border: 5px solid #000;
    border-radius: 10px;
}